.logo{
    height: 30px;
    width: 30px;
}

.Name-Loja{
    text-align: center;
    justify-content: center;
    color: black;
}

.Text-Mot{
    text-align: center;
}

#produto{
    width: auto;
    height: auto;
    margin-top: auto;
    min-height: 0;
    min-width: 0;
}

.btn-outline-success{
    font-weight: bold;
}

.toast-header{
    font-weight: bold;
}
